
.slogant{
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
    text-shadow: 1px 1px 2px white;

}

footer{
 padding: 20px;
 margin-top: auto;

}

.navfont a{
    font-family: 'Oleo Script', cursive;
    font-size: 18px;
    
}

body{
 
    font-family: 'Acme', cursive;
    
}

.container1{
    background-color: #EAE0D5;
}

*{
    margin: 0;
    padding: 0;
}

body a:hover{
    color:white;
    text-decoration: none;
 
}

body a{
    color:white;
    text-decoration: none;
   
}

body button:hover{
    color:white;
    text-decoration: none;
   
    
}

body input:hover{
    
    text-decoration: none;
   
    
}

label.error {
    color: white;
    background-color: rgba(255, 0, 0, 0.600);
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}


input.error{
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

.dropdown-item{
    color: white;
}

.feedback4{
    background-color: rgba(255, 0, 0, 0.600);
}

.feedback2{
     background-color: rgba(255, 0, 0, 0.600);
}

.feedback{
     background-color: rgba(255, 0, 0, 0.600);
     color: white;
}
.feedback5{
     background-color: rgba(255, 0, 0, 0.600);
}

.feedback3{
     background-color: rgba(255, 0, 0, 0.600);
}


/*/////////////////////////titre//////////////////////////*/
.bg-color-white{
    background-image: url(../img/Fondh3.png);
    height: 180px;
}



/*/////////////////////////navbar//////////////////////////*/
.bg-nv{
    background-color: #5E503F;
    color: white;
   
}
.bg-nv:hover{
    
    color: white;
}

.nav-item a:hover{
    background-color: rgb(148, 124, 96);
}

.nav-item a{
    color:white;
}


/*.navbar .dropdown:hover>.dropdown-menu {
    display: block;
  }*/

.navbar{
    height: 70px;
    font-family: 'Acme', sans-serif;
}



.bdtop{
    border-bottom: solid 1px;
}

.foot{
    background-color: #5E503F; 
    color:white;
}

.btn{
    background-color:#d5af64;
    color:white;
}

.btn:hover{
    background-color:#d5af64;
    color:white;
}

.carousel-inner img {
    width: 75%;
    height: 75%;
    margin-left: 13%;
}

.barferm{
    height: 48px;
    background-color:#5E503F ;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover{
    color: white;
}

.ptpol{
    font-size: 12px;
}

.navbar-toggler-icon{
    
    border: none;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-image:url(../img/patteblanche.png)  ;
    background-size: 100% 100%;
  }


/*/////////////////////////footer//////////////////////////*/
footer a{
    color:white;
}

footer a:hover{
    color:white
}

/*/////////////////////////petsitter adoption perdu trouve//////////////////////////*/

.title-filtre {
    background-color:#5E503F;
    color:white; 
    border-radius: 10px; 
}

.btn-admin{
    background-color:#5E503F ;
}

.aff-article{
    background-color: white;
    border-radius: 15px;
}

.aff-article2{
    background-color: rgb(251, 251, 251);
   min-height: 150px;
    border-radius: 5px;
}

.aff-article3{
    background-color: #EAE0D5;
   
    border-radius: 5px;
}

.aff-article4{
    background-color: rgb(194, 173, 151);
   box-shadow: 10px 8px 10px 1px #5E503F;
    border-radius: 5px;
}




.img-article{
    max-width: 95%;
    
}
.img-article2{
    
    max-width: 95%;
    
    border-radius: 5px;
}

.par-article{
    background-color:rgb(148, 124, 96) ;
    color: white;
    border-radius: 10px;
    width: 250px;
    height: 60px;
   
}

.tableforum{
     background-color: rgba(211, 199, 175, 0.835);
     box-shadow: 12px 12px 12px 1px #5E503F;
}

.bloc-height{
    height: 50%;

}




.aside-adopt img{
    max-width: 100%;
    max-height: 140px;
   
    
}

.aside-adopt2 img{
    max-width: 100%;
    max-height: 200px;
    
    
}

.btn-100{
    width: 100%;
}

.bloc-aside{
    background-color: #5E503F;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    max-width: 300px;
    
}

.adop_dessous_carte{
    background-color:  #5E503F;
    height:40px;
    border-radius: 0px 0px 10px 10px;
    
}



.bloc-aside1{
    background-color: #5E503F;
    color: white;
    border-radius: 10px;
}


/*/////////////////////////fiche article//////////////////////////*/


.Background-Color-Fiche-Blanc{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 8px 10px 10px #5E503F;
}

.Background-Color-Fiche-Image{
    border-radius: 20px;
    
}

.Background-Color-Fiche-Texte{
   
   
    
    color: #5E503F;
    border: solid 8px rgb(148, 124, 96);
    
    border-radius: 20px;
    font-size: 20px;
    
    
   
}

.Bouton-Admin-1{
    margin: 8px;
    color: white;
    background-color: #5E503F;
}

.Bouton-Admin-1:hover{
    margin: 8px;
    color: white;
    background-color: #5E503F;
}

.Bouton-Admin-2{
    
    margin: 5px;
    color: white;
    background-color: rgb(148, 124, 96);
    
}
.Bouton-Admin-2:hover{
    margin: 5px;
    color: white;
    background-color: rgb(148, 124, 96);
     text-decoration:none;
}

.Background-Color-Fiche-Image img{
    border-radius: 20px;
    max-width:100%;
}

.Image-Fiche{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.Fiche{
    background-color: #EAE0D5;
    padding: 50px 0px;
   
}


/* Refuge */
.Refuge-1{
    margin-bottom: 20px;
}

.Background-Color-Refuge-Texte{
    background-color: #C6AC8F;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

.a-Refuge{
    color: white;
    align-items: center;
}

/* Titre*/
.Titre{
    padding: 10px;
    text-align: center;
    color: rgb(148, 124, 96);
}

/* Titre*/
.Titre2{
    
    text-align: center;
    color: #5E503F;
}

.Background-Form{
    padding: 50px 0px;
    background-color: #EAE0D5;
}

.form-group{
    padding-bottom: 10px;
}


/*  Forum-------------------------------------------------------------------------------------------- */
.titrealim{
    font-size: 40px;
    color: white;
    background-color: #5E503F;
    border-radius: 50px;
}

@media (max-width:991px){
    .titrealim{
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .butmosp button{
        width:  75px;
        
    }
    .butmosp button a{
        width:10px;
        font-size:12px;
    }
}

.bordernomdate{
    border-right: solid 2px #5E503F;
}

.bnttopic{
    margin-left: 0px;
    border-left: 0px;
}

.borderradiusl{
    border-radius: 50px 0px 0px 50px;
}

.borderradiusr{
    border-radius: 0px 50px 50px 0px;
}

.backgroundforum button{
    background-color: #C6AC8F;
    border-radius: 20px;
    border: solid  #5E503F 2px;    
}

.bordertopic{
    border: solid 2px #5E503F;
    
}

.bordertopicl{
    background-color:#d5af64;
    border: solid 2px #5E503F;
    border-left: 0px;
}


.noborderright{
    border-right: 0px;
}
.barreretopicforum{
    background-color:#C6AC8F;
    border-radius: 20px;
}

.barrerechercheforum{
    background-color: #C6AC8F;
   /* border-radius: 20px;*/
    color: white;
}

.backgroundforum{
    background-color: white;
    border-radius: 20px;
}
/* Fin  Forum --------------------------------------------------------------------------------------*/

.titretopic{
    font-size: 40px;
    color: white;
    background-color: #5E503F;
    border-radius: 50px;
}

@media (max-width:991px){
    .titretopic{
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.bordercommentaire{
    border-radius: 10px;
    border: solid 1px #5E503F;
    background-color: #C6AC8F;
    color:white;
}

.borderprofilnomtopic{
    border-radius: 10px;
    border: solid 1px #5E503F;
    background-color: #d5af64;
    color:blac;
    height:100px;
    padding-top: 35px;
    font-size: 20px;
}

.fondcommentaire{
    border-radius: 10px;
    border: solid 1px #5E503F;
    background-color: white;
    color:black;
}

.bntsuppTopic button,.bntvalidercom button{
    background-color: #5E503F;
}

.navigtionpage{
    font-size: 20px;
    
}

/* Mes annonces -------------------------------------------------------------------------------------------------------------*/

.backgrdann{
    background-color: #5E503F;
    border-radius: 20px;
    font-size: 20px;
}



.bntmesannonces button{
    border: solid 1px #5E503F;
    

}

@media (max-width:991px){
    .bntmesannonces{
        margin-left: 0px;
        margin-bottom: 5px;
        
    }
}

.nomdannonce{
    padding-top: 5px;
    color: white;
    background-color:#5E503F;
    font-size: 20px;
    
}

.titresection{
   
    color: #5E503F;
    font-weight: bold;
    font-size: 30px;
    
}

.titresection a{
   
    color: #5E503F;
    font-weight: bold;
    font-size: 30px;
    
}

.bordercadreann{
    
    border-radius: 20px 20px 20px 20px;
    background-color: #C6AC8F;
}
.grdTitre{
    color:#5E503F; 
    font-weight: bold;
    font-size: 50px;

}

